{% extends 'app.html' %}

{% block content %}

    <div class="row">
        {% if p_user %}
            <h3 class="text-center">Photos By {{ p_user.username }}</h3>
        {% endif %}

        {% for photo in photos %}
            <div class="col-md-4" style="margin-bottom: 10px">
                <img src="{{ photo.photo.url }}" class="img-responsive">
                <p style="margin-top: 5px"><strong>{{ photo.title }}</strong></p>
            </div>
        {% endfor %}
    </div>

{% endblock %}